<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li><a routerLink="/">&nbsp;<span uk-icon="icon: cog; ratio:2"></span>&nbsp;TEST Angular 2</a></li>
    </ul>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li><a routerLink="users">&nbsp;<span uk-icon="icon: users" ratio="2"></span>&nbsp;Пользователи</a></li>
      <li><a routerLink="sites">&nbsp;<span uk-icon="icon: world; ratio:2"></span>&nbsp;Сайты</a></li>
      <li><a routerLink="types">&nbsp;<span uk-icon="icon: thumbnails; ratio:2"></span>&nbsp;Типы сайтов</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

