.hdr { margin: 1em 0; }
h2 { float: left; margin: 0; }
.btn-add { float: right;  }
.td-btns { text-align: right; }
.bt-edit { color: green; }
.bt-del { color: red; }
td button { visibility: hidden; }
tr:hover button { visibility: visible; }
.invis { visibility: hidden; }